    ::after,
    ::before {
        box-sizing: border-box;
    }

    form {
        font-family: sans-serif;
        margin-left: 10%;
        margin-right: 10%;
        border: 1px solid #a2a2a2;
        padding: 1em;
    }

    h1 {
        text-align: center;
    }

    #btn_reset {
        background-color: #f44336;
        color: white;
        padding: 14px 20px;
        margin-left: 1%;
        margin-bottom: 1%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #btn_submit {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin-left: 45%;
        margin-bottom: 1%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    fieldset {
        border: 1px solid #ccc;
        padding: 1em;
    }