:root {
    --light-grey: #ddd;
    --dark-grey: #330;
    --medium-grey: #666;
    --light-blue: #E7E9EB;
}

* {
    margin: 0px;
    padding: 0px;
    *height: fit-content;
}

//Home page
#form-login {
    border: 3px solid #f1f1f1;
    background-color: var(--light-grey);

    .imgcontainer {
        text-align: center;
        margin: 2% 0%;

        span {
            font-size: 4rem;
            color: var(--medium-grey);
        }

    }

    .container {
        padding: 16px;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 1% 0%;
        border: none;
        cursor: pointer;
        width: 100%;

        &:hover {
            opacity: 0.8;
        }
    }
}

#login-message {
    margin: 2% 20% 0% 20%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Company page
#form-search-company {
    margin-top: 1%;

    form {
        *border: 1px solid #f1f1f1;
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type=text] {
            width: 100%;
            margin: 0% 1%;
            padding: 1.5% 2%;
            display: inline-block;
            border: 2px solid #ccc;
            border-radius: 15px;
            //Round borders
        }

        button {
            width: 20%;
            margin: 0% 1%;
            padding: 1.5% 2%;
            background-color: #04AA6D;
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 0.8;
            }
        }
    }


}

//General CSS
header {
    position: relative;
    background-color: var(--light-grey);
    color: var(--medium-grey);
    padding: 15px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;


    h1 {
        text-align: center;
    }
}

//NAVBAR
nav {
    background-color: #aaa;
    color: #ddd;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    ul {
        margin: 0%;
        padding: 0%;
        display: flex;

        li {
            margin: 0%;
            padding: 1% 3%;
            list-style: none;

            &:hover {
                background-color: #ddd;

                a {
                    color: black;
                }
            }

            a {
                text-decoration: none;
                color: #ddd;
                font-size: 15px;
            }
        }
    }
}

main {
    margin: 0%;
    padding: 0% 3%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--light-grey);
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 5%;
}

#user-info {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
    margin: 1%;
    padding: 0%;
    background-color: pink;
    display: flex;
    width: 20%;

    #user_avatar {
        width: 40%;
        text-align: center;

        span {
            font-size: 30px;
        }
    }

    #user_data {
        width: 60%;
        text-align: left;
        line-height: 15px;

        p {
            font-size: 10px;
        }

        a {
            text-decoration: none;
            color: #aaa;
            font-size: 10px;
        }
    }


}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    text-align: center;

    .error-text {
        color: #cc0033;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        text-shadow: 1px 1px rgba(250, 250, 250, .3);
    }
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin-top: 2%;


    th {
        background-color: var(--light-blue);
        color: var(--dark-grey);
        padding: 1% 0%;
        text-align: center;
        font-size: 1.2rem;
    }

    td {
        padding: 1% 0%;
        text-align: center;
        font-size: 1.2rem;

        span {
            color: var(blue);
            font-size: 2rem;


            &:hover {
                color: white;
                background-color: var(--medium-grey);
            }
        }
    }

    tr {
        &:hover {
            background-color: var(--light-blue);
        }
    }
}